#main-Dltform{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    background-color: rgb(228, 228, 228);
    margin: auto;
    height: 40vh;
    flex-direction: column;
    border-radius: 30px;
    position: absolute;
}

#noteFrmClose{
    margin-left: 240px;
    cursor: pointer;
}


@media only screen and (min-width: 1024px) {
    #noteFrmClose{
        margin-left: 240px;
        margin-bottom: 5px;
    }
  }