#main-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: rgb(228, 228, 228);
  margin: auto;
  height: 70vh;
  flex-direction: column;
}
#form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  height: 30px;
  width: 400px;
}

textarea{
    height: 80px;
    width: 400px;
}

button{
    width: 150px;
    height: 30px;
    border: none;
    margin-top: 20px;
    border: 1px solid black;
}

#form-close{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 450px;
    cursor: pointer;
}