.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    color: white;
    margin-top: 40px;
  }
  
  .grid > article {
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  
  .grid > article img {
    max-width: 100%;
  }
  
  .grid .text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
  }
  
  #notesBtn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notesBtn, .dltBtn{
    width: 110px;
  }

  .notesBtn{
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
  }

  .dltBtn{
    border: none;
  background-color: #d7573a;
  color: black;
  font-size: 18px;
  font-weight: 900;
  }