#heading-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 30px;
}

#saveBtn {
  border: none;
  background-color: #d7573a;
  color: black;
  font-size: 18px;
  font-weight: 900;
  margin-top: -1px;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  #heading-field {
    flex-direction: column;
  }
}