.col-main {
    flex: 1;  
    display: flex;
    align-items: center;
    gap: 20px;
  }  
  
  
  
  /* etc */
  
  .container {
    max-width: 60em;
    margin-right: auto;
    margin-left: auto;
    
  }
  
  .col {
    padding: 1em;
    margin: 0 2px 2px 0;
    background: #D7573A;
  }
  

  .layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

 
  #CardClickArea{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 60px;
  }

  #title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
  }

  #playlistDetail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  #btnBox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100px;

  }

  #dltBtn{
    background-color: black;
    color: white;
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid orange;
    cursor: pointer;
  }

  #editBtn{
    background-color: black;
    color: white;
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #inputbox{
    width: 350px;
    height: 30px;
  }


  /* Responsive: */
  
  @media only screen and (max-width: 768px) {
    .layout {
      display: flex;
      gap: 15px;
      flex-direction: column;
    }
    .container {
      max-width: 30em;
      margin-right: auto;
      margin-left: auto;
    }

    
  }

  @media only screen and (max-width: 425px) {
    .container {
      max-width: 19em;
    }

    #CardClickArea{
      width: 190px;
      font-size: 11px;
    }

    #playlistDetail{
      width: 220px;
      margin-left: -10px;
    }

    .col {
      height: 70px;
    }
  }
  