

/* Create a responsive, centered, three-column grid. */
.card-container {
	align-items: start;
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fit, 300px);
	justify-content: center;
	margin-top: 20px;
}

/* --- Optional styles (to make this pen look nice) --- */


header,
footer {
	text-align: center;
}

.card {
	background-color: lightgrey;
	border-radius: 5px;
	color: white;
	padding: 24px 0 16px;
	text-align: center;
	/* text-shadow: 1px 1px 0 #555; */
    height: 400px;
    color: black;
}

.fas {
	font-size: 50px;
}

#vid-Link{
    height: 30px;
	width: 150px;
	display: inline-block;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 15px;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #111;
		color: #fff;
	}
}
