/* Create a responsive, centered, three-column grid. */
.card-container {
  align-items: start;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  margin-top: 25px;
}

header,
footer {
  text-align: center;
}

.card {
  background-color: #3f4042;
  border-radius: 5px;
  padding: 24px 0 16px;
  text-align: center;
  /* text-shadow: 1px 1px 0 #555; */
  height: auto;
  color: white;
  margin-bottom: -20px;
}

.fas {
  font-size: 50px;
}

#vid-Link {
  height: 30px;
  width: 150px;
  display: inline-block;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  background-color: black;
  font-size: 18px;
  color: white;
}

#thumbnail {
  border-radius: 10px;
  margin-top: -24px;
}

#deleteBtn {
  border: none;
  background-color: #d7573a;
  color: black;
  font-size: 18px;
  font-weight: 900;
}

#addtolistBtn {
  border: none;
  background-color: #d7573a;
  color: black;
  font-size: 18px;
  font-weight: 900;
}

#playlist-list {
  display: flex;
  gap: 5px;
  max-width: 280px;
  margin: auto;
  font-size: 15px;
  flex-wrap: wrap;
}

#playlist-tag {
  background-color: silver;
  color: black;
  border-radius: 30px;
  min-width: 60px;
  width: auto;
}

.mainCard {
  display: flex;
  flex-direction: column;
}

.utility{
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content :flex-end;
  align-items: end;
  gap: 20px;
  
}

.notesBox {
  height: 30px;
  background-color: #3f4042;
  width: 50px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  border: none;
  color: white;

}

.btm-button{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

/* @media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #fff;
  }
} */
