/* Create a responsive, centered, three-column grid. */
.card-container {
  align-items: start;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  margin-top: 25px;
}

/* --- Optional styles (to make this pen look nice) --- */

header,
footer {
  text-align: center;
}

.card {
  background-color: #3f4042;
  border-radius: 5px;
  padding: 24px 0 16px;
  text-align: center;
  /* text-shadow: 1px 1px 0 #555; */
  height: auto;
  color: white;
}

.fas {
  font-size: 50px;
}

#vid-Link {
  height: 30px;
  width: 150px;
  display: inline-block;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
}

#thumbnail {
  border-radius: 10px;
  margin-top: -24px;
}

#deleteBtn {
  background-color: black;
  font-size: 18px;
  color: white;
}

#addtolistBtn {
  border: none;
  background-color: #d7573a;
  color: black;
  font-size: 18px;
  font-weight: 900;
}

#playlist-list {
  display: flex;
  gap: 5px;
  max-width: 280px;
  margin: auto;
  font-size: 15px;
  flex-wrap: wrap;
}

#playlist-tag{
	background-color: silver;
	color: black;
	border-radius: 30px;
	min-width: 60px;
	width: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #fff;
  }
}
